.home-type-dropdown-container {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 120px;
  left: 812px;
  max-width: 262px;
  width: 16.375rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  padding: 1rem;
  z-index: 4;
}

.home-type-dropdown-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  margin-bottom: 1rem;
}

.home-type-dropdown-option input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.home-type-dropdown-option input[type='checkbox']:checked {
  background-color: #fff5e2;
  border-color: #ffb500;
}

.home-type-dropdown-option input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid #222;
  border-width: 0 1.5px 1.5px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

#home-type-dropdown-apply-button {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 44px;
  background-color: #ffb500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
