.main-content {
    position: relative;
    height: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.main-content-gradient-one {
  position: absolute;
  top: -20rem;
  left: -20rem;
  width: 677px;
  height: 288px;
  background: radial-gradient(
    ellipse at center,
    rgba(249, 201, 161, 0.5) 100%,
    rgba(249, 201, 161, 0.3) 50%,
    rgba(249, 201, 161, 0.1) 100%,
    #ffffff 100%
  );
  filter: blur(60px);
  z-index: 4;
  pointer-events: none;
}

.main-content-gradient-two {
  position: absolute;
  top: 10rem;
  left: 22rem;
  width: 487px;
  height: 388px;
  background: radial-gradient(
    ellipse at center,
    #f7e8cd 100%,
    #f7e8cd 50%,
    #f7e8cd 100%,
    #ffffff 100%
  );
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}

.main-content-gradient-three {
  position: absolute;
  top: -20rem;
  left: 30rem;
  width: 677px;
  height: 288px;
  background: radial-gradient(
    ellipse at center,
    #e0ebf5 100%,
    #e0ebf5 50%,
    #e0ebf5 100%,
    #ffffff 100%
  );
  filter: blur(200px);
  z-index: -1;
  pointer-events: none;
}

.main-content-gradient-four {
  position: absolute;
  top: 23rem;
  left: 54rem;
  width: 677px;
  height: 540px;
  background: radial-gradient(
    ellipse at center,
    #f7e3e4 100%,
    #f7e3e4 50%,
    #f7e3e4 100%,
    #ffffff 100%
  );
  filter: blur(160px);
  z-index: -1;
  pointer-events: none;
}