#property-details-listing-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 3rem;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  position: relative;
}

#property-details-price-special-features {
  display: flex;
  flex-direction: column;
  width: 50.9375rem;
}

#property-details-price-bed-bath {
  display: flex;
  flex-direction: row;
}

#property-details-price-location {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  width: 32.25rem;
}

#property-details-price-location h4 {
  font-size: 32px;
  font-weight: 600px;
  color: #1c1c1c;
  padding: 16px 0;
}

#property-details-location {
  font-size: 16px;
  color: #1c1c1c;
  padding: 8px 0;
}

#property-details-location-two {
  font-size: 16px;
  color: #6c6c6c;
}

#property-details-bed-bath-sqft {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.property-details-bed-bath-sqft-h4-text {
  color: #1c1c1c;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600px;
  padding: 1rem 0;
}

#property-details-bed-bath-sqft p {
  color: #1c1c1c;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.property-listing-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#property-details-whats-special {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.property-details-grey-line {
  width: 44.8125rem;
  border-bottom: 1px solid #e2e2e2;
  margin: 2rem 0;
}

#property-details-apartment-features {
  display: flex;
  flex-direction: column;
}

#property-details-apartment-features h4 {
  font-size: 32px;
  font-weight: 600px;
  color: #1c1c1c;
}

#property-details-apartment-features-h6-text {
  margin-top: 1rem;
  background-color: #b2d1ed;
  font-size: 20px;
  padding: 4px 12px;
  margin: 1rem 0;
}

.property-details-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  max-width: 100%;
}

.property-details-list-item {
  width: calc(33.333% - 2rem);
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

.property-details-list-item::before {
  content: '•';
  margin-right: 0.5rem;
  color: #1c1c1c;
}

#property-details-list-map {
  width: 39.6875rem;
  height: 22.8875rem;
  object-fit: cover;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  #property-details-whats-special,
  #property-details-apartment-features,
  .property-details-list-container,
  .property-details-grey-line,
  #property-details-list-map {
    text-align: center;
    align-items: center;
  }

  #property-details-listing-container {
    flex-direction: column;
    padding: 1.5rem;
  }

  #property-details-price-special-features {
    width: 100%;
  }

  .property-details-bed-bath-sqft-h4-text {
    text-align: center;
  }
  #property-details-price-location {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  #property-details-price-bed-bath {
    flex-direction: column;
    gap: 1rem;
  }
  #property-details-bed-bath-sqft {
    justify-content: center;
  }

  .property-details-grey-line {
    width: 100%;
  }

  #property-details-list-map {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
  }

  .property-details-list-item {
    width: 100%;
  }
  .property-listing-contents {
    text-align: center;
  }
}

.property-details-gradient-one {
  position: absolute;
  bottom: 60rem;
  left: 41rem;
  width: 419.09px;
  height: 286px;
  background: radial-gradient(
    ellipse at center,
    rgba(249, 201, 161, 0.2) 0%,
    rgba(249, 201, 161, 0.1) 50%,
    rgba(249, 201, 161, 0.05) 80%,
    rgba(249, 201, 161, 0) 100%
  );
  filter: blur(20px);
  z-index: 4;
  pointer-events: none;
}
