.property-listing-results-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 56.81vw;
}

.property-listing-results-container h2 {
  margin: 2.5rem 1.5rem 0rem 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #011329;
}

.property-listing-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.375rem;
  max-width: 818px;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.property-listing-results-sort-button-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  align-items: center;
}

.property-listing-results-sort-button-container h4 {
  color: #011329;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.property-listing-sort-button {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0;
  width: 52.53741455078125px;
  height: 24px;
}

.property-listing-sort-icon {
  font-size: 16px;
  line-height: 1;
  transform: translateY(1px);
}

#property-listing-blurs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

#property-listing-yellow-blur {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle, #f7e8cd80, transparent 100%);
  filter: blur(50px);
  opacity: 0.6;
}

#property-listing-pink-blur {
  position: absolute;
  top: -150px;
  right: -200px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: radial-gradient(circle, #f7e3e480, transparent 100%);
  filter: blur(100px);
  opacity: 1;
}

#property-listing-orange-blur {
  position: absolute;
  bottom: -150px;
  right: -150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle, #f9c9a166, transparent 100%);
  filter: blur(100px);
  opacity: 1;
}

#property-listing-blue-blur {
  position: absolute;
  bottom: -200px;
  left: -150px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle, #e0ebf5cc, transparent 100%);
  filter: blur(100px);
  opacity: 1;
}

.property-listing-results-map-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.property-listing-map {
  background-color: #ffffff;
  max-width: 622px;
  width: 38.875rem;
  height: 100vh;
  overflow: hidden;
  width: 43.19vw;
}
