#property-details-back-search-photos-container {
  display: flex;
  flex-direction: column;
}

.property-details-photo-container {
  display: flex;
  gap: 10px;
  margin: 0 3rem;
}

.property-details-main-photo-container {
  flex: 2;
  max-width: 40.0625rem;
}

.property-details-main-image {
  width: 100%;
  height: 29rem;
  object-fit: cover;
  border-radius: 16px;
}

.property-details-photo-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.property-details-image {
  width: 100%;
  height: 14.125rem;
  object-fit: cover;
  border-radius: 12px;
}

.property-details-back-to-search {
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
  cursor: pointer;
  transition: color 0.2s ease;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

.property-details-back-to-search:hover {
  text-decoration: underline;
}
