.password-success-wrapper {
  position: absolute;
  top: 16rem;
  left: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1006;
  background-color: transparent;
}

.password-success-content {
  background-color: white;
  border-radius: 12px;
  padding: 60px 32px 88px 32px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 448px;
  z-index: 1007;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-success-content p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
}

.password-success-content button {
    margin-top: 24px;
    background-color: #204777;
    color: #ffffff;
    width: 100%;
    height: auto;
    padding: 12px 18px;
    border-radius: 8px;
}
