  .personal-information {
    position: relative;
    padding: 2.5rem;
    flex-direction: column;
    text-align: center;
  }
  .personal-information h4 {
    font-size: 32px;
    font-weight: 600;
  }

  .personal-information h6 {
    padding: 36px 0 20px 0;
    font-size: 20px;
    font-weight: 600;
  }

  .personal-info-card {
    display: flex;
    flex-wrap: wrap;
    width: 56%;
  }

  .personal-info-type {
    padding: 0 20px 14px 0;
  }

  .personal-info-type span {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 0 0 8px 0;
  }

  .personal-info-input {
    background-color: #ffffff;
    border: 1.5px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 16px 10px 16px;
    height: 44px;
    width: 280px;
  }

  .login-and-security-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 59%;
    padding: 0 0 48px 0;
  }

  .log-and-sec-input {
    background-color: #f0f0f0;
    border: 1.5px solid #e2e2e2;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 16px 10px 16px;
    height: 44px;
    width: 280px;
  }

  .log-and-sec-type {
    padding: 0 20px 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .log-and-sec-type-and-input {
    padding: 0 0px 16px 0;
  }

  .log-and-sec-type-and-input span {
    display: inline-block;
    padding: 0 0 8px 0;
  }
  .log-and-sec-type button {
    height: 44px;
    margin-top: auto;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
    background-color: #ffffff;
    border: 1.5px solid #e2e2e2;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .log-and-sec-type button span {
    margin-left: 8px;
  }

  .log-and-sec-pencil {
    height: 20px;
    width: 20px;
    padding: 2px;
  }

  .save-changes {
    background-color: #204777;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    padding: 12px 18px 12px 18px;
  }


@media (min-width: 768px) {

  .personal-information {
    flex-direction: row;
    text-align: left;
  }

  .personal-info-card {
    width: 75%;
  }

  .log-and-sec-input {
    width: 367px;
  }

  .log-and-sec-type {
    flex-direction: row;
  }

  .log-and-sec-type-and-input {
    padding: 0 18px 0 0;
  }
}
