.hero-section-wrapper {
  position: relative;
  width: 100vw;
  height: auto;
}
.about-hero-section {
  position: relative;
  background-image: url('../../../assets/hero_image.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  min-height: 611px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-hero-section-content {
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.about-hero-section-content h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
}

.about-hero-section-content h6 {
    font-size: 1.65rem;
    font-weight: 600;
    margin-bottom: 4.5rem
}

.about-hero-dog-icon {
  position: absolute;
  height: 25%;
  width: auto;
  top: 68.5%;
  left: 4%;
}