.city-section {
  background-image: url('../assets/city_Image.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 2rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.city-content {
  max-width: 1000px;
  padding: 2rem;
  border-radius: 8px;
}

.city-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.city-content p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.city-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.city-options input {
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  width: 25rem;
}

.city-options > div:last-child > button {
  padding: 0.75rem 10rem;
  background-color: #fbbc05;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.or-separator {
  font-weight: bold;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  max-width: 23rem;
  padding: 0.75rem 1rem;
  padding-right: 3rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.input-wrapper .overlay-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper .overlay-button img {
  height: 18px;
  width: 18px;
}

@media (max-width: 1050px) {
  .city-options {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .city-options > div:first-child {
    order: 1;
  }

  .or-separator {
    order: 2;
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .city-options > div:last-child {
    order: 3;
  }

  .city-options > div {
    width: 100%;
    max-width: 500px;
  }
}
