.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 7rem;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar-logo {
  height: 2.5rem;
  transform: scaleX(-1);
}

.navbar-h2-logo-text {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-about {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-about:hover {
  text-decoration: underline;
}
.navbar-sign-in-sign-up {
  background: none;
  color: black;
  border: none;
  padding: 1rem 0.625rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.navbar-sign-in-sign-up:hover {
  text-decoration: underline;
}

.navbar-add-property-btn {
  background-color: #f8cb76;
  color: black;
  border: none;
  padding: 1rem 0.625rem;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-left {
    margin: 0.25rem;
  }

  .navbar-right {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .navbar-add-property-btn {
    flex: 1;
    width: 100%;
  }

  .navbar-link {
    font-size: 0.95rem;
  }

  .navbar-hide-on-mobile {
    display: none;
  }
}
